body {
    background-color: #000000;
}

main {
    margin: 0px;
}

h1 {
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Slab-Serif', sans-serif;
    text-align: center;
    font-size: 70px;
}

.header_hr1 {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

.header_hr2 {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar ul {
    list-style-type: none;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #808080;
    color:white
}

.navbar li {
    flex: 1;
    text-align: center;
}

.blacktext {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

hr {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 0px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.Footersection {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}

.Introsection {
    margin-left: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.mephoto {
    width: 400px;
    height: auto;
    border: 2px solid rgb(255, 255, 255);
}

.Meintrop {
    flex: 1;
    font-family: Helvetica, sans-serif;
    margin-right: 200px;
}