Body {
    background-color: #FFFDD0;
}

main {
    margin: 0px;
}

h1 {
    margin-top: 30px;
    color: black;
    font-family: 'Slab-Serif', sans-serif;
    text-align: center;
    font-size: 35px;
}

.header_hr1 {
    border: 0;
    height: 2px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

.header_hr2 {
    border: 0;
    height: 2px;
    background-color: black;
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar ul {
    list-style-type: none;
    background-color: #FF69B4;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color: white;
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #FF1493;
}

.navbar li {
    flex: 1;
    text-align: center;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 1.6;
}

hr {
    border: 0;
    height: 2px;
    background-color: black;
    margin-bottom: 20px;
    margin-top: 0px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
}

.Footersection {
    text-align: center;
    font-size: 12px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: black;
}