body {
    background-color: #000000;
}

main {
    margin: 0px;
}

h1 {
    margin-top: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Slab-Serif', sans-serif;
    text-align: center;
    font-size: 70px;
}

.header_hr1 {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

.header_hr2 {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 0px;
}

.navbar ul {
    list-style-type: none;
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
}

.navbar a{
    color: rgb(0, 0, 0);
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #808080;
    color:white
}

.navbar li {
    flex: 1;
    text-align: center;
}

.blacktext {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    line-height: 1.6;
}

hr {
    border: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    margin-top: 0px;
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.Footersection {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
}

.Introsection {
    margin-left: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

.Drakephoto1 {
    width: 300px; /* set whatever size you want */
    height: auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.drakeintrop {
    flex: 1;
    font-family: Helvetica, sans-serif;
    margin-right: 20px;
}

.top5drakevideos h2 {
    font-family: 'Slab-Serif', serif;
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
    color: white;
    background-color: black;
}

.VideoList {
    list-style-position: inside;
    padding-left: 0;
    margin-top: 40px;
    color: white;
}

.VideoRow {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 30px;
    color: white;
}

.VideoRow iframe {
    width: 40%;
    height: 250px;
    border: none;
    margin-left: 30px;
}

.VideoTextWrapper {
    width: 55%;
}

.VideoHeader {
    font-family: 'Slab-Serif', serif;
    font-size: 22px;
    margin-bottom: 10px;
}

.VideoText {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.VideoList li + li {
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 20px;
}
